<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>  
        <main>
            <div class="main-description">
                <h1>Are you sure delete {{category_item_name}} from {{category_name}} ?</h1>
                <form action="{{url_for('deleteCategoryItem',
                                        category_name=category_name,
                                        category_item_name=category_item_name)}}" method='POST'>
                    <input type="submit" value="Delete">
                </form>
                <a href={{url_for('menu', category_name=category_name)}}>Back</a>
            </div>
        </main>
    </body>
</html>