<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body> 
        <main>
            <div class="main-description">
                <form action="{{url_for('editCategoryItem',
                                        category_name=category_name,
                                        category_item_name=category_item_name)}}" method='POST'>
                    <p>Title:</p>
                    <input type="text" name="name" placeholder='{{item.name}}'>
                    <p>Description:</p>
                    <input type="text" name="description" placeholder='{{item.description}}'>
                    <br>
                    <input type="submit" value="Edit">
                </form>
                <a href={{url_for('menu', category_name=category_name)}}>Back</a>
            </div>
        </main>
    </body>
</html>