<html>
    <body>
        <header>
            <div class="header-inner">
                <h1> Catalog App</h1> 
                <p>Logout</p>
            </div>
        </header>   
        <main>
            <div class="main-description">
                <form action="{{url_for('newCategoryItem', category_id=category_id)}}" method='POST'>
                    <p>Title:</p>
                    <input type="text" name="name">
                    <p>Desctiption:</p>
                    <input type="text" name="description">
                    <br>
                    <input type="submit" value="Add">
                </form>
            </div>
        </main>
    </body>
</html>